body {
    background-image: url("http://www.army-technology.com/contractor_images/eimco/1-eimco-military-camps.jpg");
    background-size: 800px
}
p {
	color: #000000
}
img {
	top:100%;
	left:100%;
}
a:link {
	color: blue;
}
a:hover {
	text-decoration: none;
	color: red;
}
